body {
  font-family: "Raleway", sans-serif;
}
.bn-lucas{
    background-color:darkslategray;
}
.bg-lucas{
    background-color:black;
}

#Hero-Section {
  background-image: url("../img/foto-perfil.jpg");
  background-repeat: no-repeat;
  background-size:500px;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-actividades{
  background-color:darkslategray;
}
/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: white;
}

.bg-contacto{
  background-color: darkseagreen;

}
.my-5{
  text-align:justify;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
