body {
  font-family: "Raleway", sans-serif;
}
.bg-lucas {
    background-color: black !important; /* Cambia este código por el color que quieras */
}

#Hero-Section {
  background-image: url("../img/foto-perfil.jpg");
  background-repeat: no-repeat;
  background-size:500px;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

.my-5{
  text-align:justify;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
